.axis .tick line{
    stroke:rgb(150,150,150);
}

.axis .tick line{
    stroke-width:.5px;
}

.node{
    fill:rgb(200,200,200);
    stroke:white;
}
.state{
	fill:#333;
    stroke:white;
    stroke-width:.5px;
}